<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<h1>
  Welcome.
</h1>
<hr>
<h3>
  account data
</h3>
<ul>
  <li>
    username:
    {{#if username}}
      {{username}}
    {{else}}
      <a href="/user/setBrowserLoginSession">setBrowserLoginSession</a>
    {{/if}}
  </li>
</ul>
<hr>
<h3>
  /user
</h3>
<ul>
  <li>
    <a href="/user/setBrowserLoginSession">/user/setBrowserLoginSession</a>
  </li>
  <li>
    <a href="/user/getCalender">/user/getCalender</a>
  </li>
  <!--  <li>-->
  <!--    <a href="/user/getReportCalender">/user/getReportCalender</a>-->
  <!--  </li>-->
  <!--  <li>-->
  <!--    <a href="/user/getIncompleteReport">/user/getIncompleteReport</a>-->
  <!--  </li>-->
  <li>
    <a href="/user/getIncompleteSchedule">/user/getIncompleteSchedule</a>
  </li>
</ul>
</body>
</html>
